.spacer {
  flex: 1 1 auto;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  margin: auto 2em;
}

a:hover {
  color: pink;
}

.screen-links-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
