.wrapper {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-gap: 5%;
  grid-template: "weather-search     location-title       precaution"
                 "viewed-locations  current-conditions    day-forecasts"
                 "viewed-locations  current-conditions    day-forecasts"
                 "viewed-locations  tomorrow-forecast    day-forecasts"
                 "viewed-locations  tomorrow-forecast    day-forecasts"
                 "hour-forecasts     hour-forecasts      hour-forecasts"
                 "hour-forecasts     hour-forecasts      hour-forecasts";

  .weather-search {
    grid-area: weather-search;
    background-color: white;
  }

  .current-conditions {
    grid-area: current-conditions;
    background-color: white;
  }

  .tomorrow-forecast {
    grid-area: tomorrow-forecast;
    background-color: aqua;
  }

  .viewed-locations {
    grid-area: viewed-locations;
    background-color: #ccccff;
    font-family: "Montserrat";
  }

  .day-forecasts {
    grid-area: day-forecasts;
    background-color: #ccccff;
    font-family: "Montserrat";
  }

  .hour-forecasts {
    grid-area: hour-forecasts;
    background-color: #ccccff;
    font-family: "Montserrat";
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: fit-content;
    overflow-x: hidden;
  }

  .precaution {
    grid-area: precaution;
    background-color: #ccccff;
  }

  .location-title {
    font-family: "Montserrat";
    grid-area: location-title;
    color: black;
    font-size: 70px;
  }

}
