<h1>Weather Dashboard</h1>
<div class="wrapper">
  <div class="weather-search">
  </div>
  <app-weather-tile
    class="current-conditions">
  </app-weather-tile>
  <app-weather-tile
    class="tomorrow-forecast"
  ></app-weather-tile>
  <app-viewed-locations
    class="viewed-locations"
  ></app-viewed-locations>
  <app-precaution
    class="precaution"
  ></app-precaution>
  <app-daily-forecasts
    class="day-forecasts"
    [dailyForecasts]="weatherResult?.dayForecasts">
  </app-daily-forecasts>
  <app-hourly-forecasts
    class="hour-forecasts"
    [hourlyForecasts]="weatherResult?.hourlyForecasts">
  </app-hourly-forecasts>
</div>

