<h1>Weather Dashboard</h1>
<div class="wrapper">
  <form
    class="weather-search"
    [formGroup]="weatherSearchForm"
        (submit)="onSubmitWeatherSearch()">
    <mat-form-field appearance="fill">
      <mat-label>Search Weather for Location</mat-label>
      <input
        type="text"
        matInput
        formControlName='location'
        [placeholder]="'Enter a city name or a zip code'"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      style="margin-left: 5px;"
      [disabled]="weatherSearchForm.controls['location'].value === null"
    >
      Search
    </button>
  </form>

  <div class="location-title">
   {{ weatherResult?.currentLocation?.cityName }}
  </div>

  <div class="current-conditions blue-pop">
    <app-weather-tile
      [label]="'Current Conditions'"
      [weather]="weatherResult?.currentConditions">
    </app-weather-tile>
  </div>

  <div class="tomorrow-forecast blue-pop">
    <app-weather-tile
      [label]="'Tomorrow\'s Forecast'"
      [weather]="weatherResult?.tomorrowForecast?.weather">
    </app-weather-tile>
  </div>

  <div class="viewed-locations blue-pop">
    <app-viewed-locations
      [locations]="(recentlyViewedLocationsForUser$ | async)"
      (locationSelected)="onLocationSelected($event)"
    >
    </app-viewed-locations>
  </div>

  <div class="precaution blue-pop">
    <app-precaution
      [precaution]="weatherResult?.precaution"
    >
    </app-precaution>
  </div>

  <div class="day-forecasts blue-pop">
    <app-daily-forecasts
      [dailyForecasts]="weatherResult?.dayForecasts">
    </app-daily-forecasts>
  </div>

  <div class="hour-forecasts blue-pop">
    <app-hourly-forecasts
      [hourlyForecasts]="weatherResult?.hourlyForecast">
    </app-hourly-forecasts>
  </div>
</div>

