.wrapper {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-gap: 5%;
  grid-template: "weather-search     location-title       precaution"
                 "viewed-locations  current-conditions    day-forecasts"
                 "viewed-locations  current-conditions    day-forecasts"
                 "viewed-locations  tomorrow-forecast    day-forecasts"
                 "viewed-locations  tomorrow-forecast    day-forecasts"
                 "hour-forecasts     hour-forecasts      hour-forecasts"
                 "hour-forecasts     hour-forecasts      hour-forecasts";

  .weather-search {
    grid-area: weather-search;
    background-color: white;

    input {
      height: 16px !important;
      margin-right: 5px;
    }
  }

  .blue-pop {
    border: 3px solid blue;
    background-color: #ccccff;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 1%;
  }

  .current-conditions {
    grid-area: current-conditions;
    background-color: white;
  }

  .tomorrow-forecast {
    grid-area: tomorrow-forecast;
  }

  .viewed-locations {
    grid-area: viewed-locations;
    font-family: "Montserrat";
  }

  .day-forecasts {
    grid-area: day-forecasts;
    font-family: "Montserrat";
  }

  .hour-forecasts {
    grid-area: hour-forecasts;
    font-family: "Montserrat";
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: fit-content;
    overflow-x: hidden;
  }

  .precaution {
    grid-area: precaution;
  }

  .location-title {
    font-family: "Montserrat";
    grid-area: location-title;
    color: black;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    font-size: 4em;
  }

}
