<h1>Weather Dashboard</h1>
<div class="wrapper">
  <div class="weather-search">
    Weather Search
    <input type="text"/>
  </div>

  <div class="location-title">
    <span>{{ weatherResult?.currentLocation?.cityName }}</span>
  </div>

  <div class="current-conditions">
    <app-weather-tile
      [label]="'Current Conditions'"
      [weather]="weatherResult?.currentConditions">
    </app-weather-tile>
  </div>

  <div class="tomorrow-forecast">
    <app-weather-tile
      [label]="'Tomorrow'"
      [weather]="weatherResult?.tomorrowForecast?.weather">
    </app-weather-tile>
  </div>

  <div class="viewed-locations">
    <app-viewed-locations
      [locations]="currentUser?.recentlyViewedLocations"
    >
    </app-viewed-locations>
  </div>

  <div class="precaution">
    <app-precaution
      [precaution]="weatherResult?.precaution"
    >
    </app-precaution>
  </div>

  <div class="day-forecasts">
    <app-daily-forecasts
      [dailyForecasts]="weatherResult?.dayForecasts">
    </app-daily-forecasts>
  </div>

  <div class="hour-forecasts">
    <app-hourly-forecasts
      [hourlyForecasts]="weatherResult?.hourlyForecasts">
    </app-hourly-forecasts>
  </div>
</div>

