<mat-card style="background-color:#ccccff;">
    <div style="font-family: Montserrat;">
      <mat-card-header>
        <mat-card-title>{{ label }}</mat-card-title>
      </mat-card-header>
    </div>
  <div style="font-family: Montserrat;display: flex;flex-direction: row;justify-content: space-between">
    <div>
      <p>Temperature: {{ weather?.temp | toFahrenheit }}</p>
      <p>Cloudiness: {{ weather?.currentClouds | toCloudinessLevel  }}</p>
      <p>Humidity: {{ weather?.humidity | toHumidity }}</p>
      <p>Wind Speed: {{ weather?.windSpeed | toMPH }}</p>
    </div>
    <div>
      <div>{{ weather?.weatherDescription }}</div>
      <app-weather-icon
        [isNight]="showNightMode"
        [multiplier]="'4'"
        [weatherDescription]="weather?.weatherDescription">
      </app-weather-icon>
    </div>
  </div>
</mat-card>
