<mat-card style="background-color:#ccccff;">
    <div style="font-family: Montserrat;">
      <mat-card-header>
        <mat-card-title>{{ label }}</mat-card-title>
      </mat-card-header>
    </div>
  <div style="font-family: Montserrat;">
    <div>{{ weather?.weatherDescription }}</div>
    <app-weather-icon
      [weatherDescription]="weather?.weatherDescription">
    </app-weather-icon>
    <p>Temperature: {{ weather?.temp | toFahrenheit }}</p>
    <p>Cloudiness: {{ weather?.currentClouds | toCloudinessLevel  }}</p>
    <p>Humidity: {{ weather?.humidity | toHumidity }}</p>
    <p>Wind Speed: {{ weather?.windSpeed | toMPH }}</p>
  </div>
</mat-card>
