<h2 mat-dialog-title>{{ title}}</h2>

<mat-dialog-content>
  <div>{{ weather?.weatherDescription }}</div>
  <app-weather-icon [weatherDescription]="weather?.weatherDescription">
  </app-weather-icon>
  <ul>
    <li>Temperature: {{ weather?.temp | toFahrenheit }}</li>
    <li>Cloudiness: {{ weather?.currentClouds | toCloudinessLevel  }}</li>
    <li>Humidity: {{ weather?.humidity | toHumidity }}</li>
    <li>Wind Speed: {{ weather?.windSpeed | toMPH }}</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    color="secondary"
    (click)="close()">Close</button>
</mat-dialog-actions>
