<h2 mat-dialog-title>{{ title}}</h2>

<mat-dialog-content style="display: flex; flex-direction: column; align-items: center">
  <div>{{ weather?.weatherDescription }}</div>
  <app-weather-icon
    [weatherDescription]="weather?.weatherDescription"
    [multiplier]="'2'"
  >
  </app-weather-icon>
  <p>Temperature: {{ weather?.temp | toFahrenheit }}</p>
  <p>Cloudiness: {{ weather?.currentClouds | toCloudinessLevel  }}</p>
  <p>Humidity: {{ weather?.humidity | toHumidity }}</p>
  <p>Wind Speed: {{ weather?.windSpeed | toMPH }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    mat-dialog-close
    color="primary"
    (click)="close()">
    Close
  </button>
</mat-dialog-actions>


