.feedback-screen-container {
  background-color: #ccccff;
  border: 5px solid blue;
  width: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .feedback-form {
    grid-area: feedback-form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .feedback-comments {
      margin-top: 20px;
      height: 200px;
      width: 500px;
    }

    .feedback-submit-btn {
      margin-top: 20px;
      font-family: Montserrat;
      color: black;
    }
  }
}
