<div class="feedback-screen-container">
  <div class="feedback-form">
    <h1 style="font-family: Montserrat;">Please Give Us Your Feedback</h1>
    <div class="ratings">
      <app-rating
        (ratingChange)="onRatingChange($event)">
      </app-rating>
    </div>
    <textarea
      placeholder="Your Feedback..."
      class="feedback-comments"
      maxlength="1000"
      (change)="onCommentsChange($event)"
    >
  </textarea>
    <button
      mat-raised-button
      color="accent"
      class="feedback-submit-btn"
      (click)="onSubmitButtonClick()">
      Submit
    </button>
  </div>
</div>
