<div class="feedback-screen-container">
  <form [formGroup]="feedbackForm" class="feedback-form">
    <h1>Please Give Us Your Feedback</h1>
    <div class="ratings">
      <app-rating formControlName="rating"></app-rating>
    </div>
    <textarea
      placeholder="Your Feedback..."
      class="feedback-comments"
      maxlength="1000"
      formControlName="comments"
    >
  </textarea>
    <button
      mat-raised-button
      color="accent"
      class="feedback-submit-btn"
      [disabled]="feedbackForm.invalid"
      (click)="onSubmitButtonClick()">
      Submit
    </button>
  </form>
</div>
