[data-weather-search] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 5%;

  [data-location-input] {
    width: 50%;
    font-size: x-large;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.5) 2px 2px;
    padding: 1%;
  }

  [data-weather-cards-container] {
    padding: 2% 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

